<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.photonstudio.mapper.ElemttypemodeMapper">
	<select id="findObject" resultType="com.photonstudio.pojo.Elemttypemode">
	select a.* , b.elemttypename ,c.imgurl,c.imgname from `${dBname}`.elemttypemode a left join 
	 `${dBname}`.elemttype b on a.elemttypeid=b.elemttypeid left join `${dBname}`.images c
	  on a.imgid=c.imgid
	<where>
		<if test="elemttypeid!=null and elemttypeid!=''">
		a.elemttypeid=#{elemttypeid}
		</if>
		</where>
		<if test="pageSize!=null and pageSize!=''">
          limit #{startIndex},#{pageSize}
		</if>
	</select>
	<select id="getRowCount" resultType="int">
  SELECT COUNT(*) FROM `${dBname}`.elemttypemode
  <where>
		<if test="elemttypeid!=null and elemttypeid!=''">
		elemttypeid=#{elemttypeid}
		</if>
		</where>
    </select>
   
    <insert id="insertObject">
		insert into ${dBname}.elemttypemode  (elemtmodeid,elemtmodename,elemttypeid,
		elemtELtype,elemtlevel,elemtstyle,text,imgid)
 	   values (#{elemttypemode.elemtmodeid},#{elemttypemode.elemtmodename},
 	   #{elemttypemode.elemttypeid},#{elemttypemode.elemtELtype},
 	   #{elemttypemode.elemtlevel},#{elemttypemode.elemtstyle},
 	   #{elemttypemode.text},#{elemttypemode.imgid});
	</insert>
	<delete id="deleteObjectById">
	delete from `${dBname}`.elemttypemode
		<where>
			elemtmodeid in 
			<foreach collection="ids" open="(" close=")" separator="," item="id">
			#{id}
			</foreach>
		</where>
	</delete>
	<update id="updateObject">
	update `${dBname}`.elemttypemode 
 	<set>
             <if test="elemttypemode.elemtmodename!=null and elemttypemode.elemtmodename!=''">
               elemtmodename=#{elemttypemode.elemtmodename},
             </if>
             <if test="elemttypemode.elemttypeid!=null and elemttypemode.elemttypeid!=''">
                  elemttypeid=#{elemttypemode.elemttypeid},
             </if>
             <if test="elemttypemode.elemtELtype!=null and elemttypemode.elemtELtype!=''">
                elemtELtype=#{elemttypemode.elemtELtype},
             </if>
             <if test="elemttypemode.elemtlevel!=null and elemttypemode.elemtlevel!=''">
                elemtlevel=#{elemttypemode.elemtlevel},
             </if>
             <if test="elemttypemode.elemtstyle!=null and elemttypemode.elemtstyle!=''">
                elemtstyle=#{elemttypemode.elemtstyle},
             </if>
             <if test="elemttypemode.text!=null and elemttypemode.text!=''">
                text=#{elemttypemode.text},
             </if>
             <if test="elemttypemode.imgid!=null and elemttypemode.imgid!=''">
                imgid=#{elemttypemode.imgid},
                </if>
                elemtmodeid=#{elemttypemode.elemtmodeid}
          </set>
          where elemtmodeid=#{elemttypemode.elemtmodeid} 
	</update>
	<select id="findElemttypemodeById" resultType="com.photonstudio.pojo.Elemttypemode">
		select a.* , b.elemttypename ,c.imgurl,c.imgname from `${dBname}`.elemttypemode a left join 
	 `${dBname}`.elemttype b on a.elemttypeid=b.elemttypeid left join `${dBname}`.images c
	  on a.imgid=c.imgid
		<where>
			a.elemttypeid=#{id}
		</where>
	</select>
	<update id="synchroElemt">
		delete from `${dBname}`.elemtmodle;
		delete from `${dBname}`.elemttype;
		delete from `${dBname}`.elemttypemode;
		delete from `${dBname}`.images where imgid in (select imgid from zsqy_v2.images);
		insert into `${dBname}`.elemtmodle select * from zsqy_v2.elemtmodle;
		insert into `${dBname}`.elemttype select * from zsqy_v2.elemttype;
		insert into `${dBname}`.elemttypemode select * from zsqy_v2.elemttypemode;
		insert into `${dBname}`.images select * from zsqy_v2.images;
	</update>
</mapper>