<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.photonstudio.mapper.QueryresultMapper">
<select id="findObject" resultType="Queryresult">
		select * from `${dBname}`.queryresult
	</select>
	<insert id="insertObject">
		insert into `${dBname}`.queryresult (resultName) values
		(#{queryresult.resultName})

	</insert>
	<delete id="deleteObjectById">
		delete from `${dBname}`.queryresult
		<where>
			resultId=#{id}
		</where>
	</delete>
	<update id="updateObject">
		update `${dBname}`.queryresult
		<set>
			resultName=#{queryresult.resultName}
		</set>
		<where>
		resultId=#{queryresult.resultId}
		</where>
	</update>
</mapper>