<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.photonstudio.mapper.QueryconditioninfoMapper">
	<select id="findObjectByconditionId"
		resultType="Queryconditioninfo">
		select * from `${dBname}`.queryconditioninfo
		<where>
			<if test="conditionId!=null">
				conditionId=#{conditionId}
			</if>
		</where>

	</select>
	<select id="findObject" resultType="Queryconditioninfo">
		select a.* ,b.conditionName from `${dBname}`.queryconditioninfo a
		left join `${dBname}`.querycondition b on a.conditionId=b.conditionId
		<where>
			1=1
			<if test="conditionId!=null">
				and a.conditionId=#{conditionId}
			</if>
		</where>
		<if test="pageSize!=null and pageSize!=''">
			limit #{startIndex},#{pageSize}
		</if>
	</select>
	<select id="getRowCount" resultType="int">
		select count(*) from `${dBname}`.queryconditioninfo
		<where>
			1=1
			<if test="conditionId!=null">
				and conditionId=#{conditionId}
			</if>
		</where>
	</select>
	<insert id="insertObject">
		insert into `${dBname}`.queryconditioninfo (filedName,filedDbName,fiedtype,
		fiedSql,conditionId) values (#{queryconditioninfo.filedName},
		#{queryconditioninfo.filedDbName},#{queryconditioninfo.fiedtype},
		#{queryconditioninfo.fiedSql},#{queryconditioninfo.conditionId})
	</insert>
	<delete id="deleteObjectById">
		delete from `${dBname}`.queryconditioninfo
		<where>
			id=#{id}
		</where>
	</delete>
	<delete id="deleteObjectByConditionId">
		delete from `${dBname}`.queryconditioninfo
		<where>
			conditionId=#{conditionId}
		</where>
	</delete>
	<update id="updateObject">
		update `${dBname}`.queryconditioninfo
		<set>
			filedName=#{queryconditioninfo.filedName},
			filedDbName=#{queryconditioninfo.filedDbName},
			fiedtype=#{queryconditioninfo.fiedtype},
			fiedSql=#{queryconditioninfo.fiedSql},
			conditionId=#{queryconditioninfo.conditionId}
		</set>
		<where>
		id=#{queryconditioninfo.id}
		</where>
	</update>
</mapper>