<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--应用名称，读取application.yml中的spring.application.name属性，如果没有配置，使用默认值-->
    <springProperty name="APP_NAME" source="spring.application.name" defaultValue="zsqy"/>
    <!--日志文件保存路径-->
    <property name="LOG_FILE_PATH" value="logs"/>
    <!--控制台日志格式-->
    <property name="CONSOLE_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5le) [%11(%.11t)] %cyan(%-50(%lo{50})) - %m%n"/>
    <!--文件日志格式-->
    <property name="FILE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5le [%15(%.15t)] %-60(%lo{60}) - %m%n"/>
    <contextName>${APP_NAME}</contextName>
    <!-- 日志打印到控制台 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${CONSOLE_PATTERN}</pattern>
        </encoder>
    </appender>
    <!--每天记录日志到文件appender-->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE_PATH}/${APP_NAME}-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <!--历史日志最大保留30天-->
            <maxHistory>30</maxHistory>
            <!--给定日志文件大小，超过指定的大小就新建一个日志文件-->
            <maxFileSize>100MB</maxFileSize>
            <!--控制所有归档日志文件的总大小-->
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <!--开发环境时激活-->
    <springProfile name="dev">
        <root level="INFO" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="com.photonstudio" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
    </springProfile>
    <!--生产环境时激活-->
    <springProfile name="prod">
        <root level="INFO" additivity="false">
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>
</configuration>